@model Angora.Web.Models.NewEventViewModel

<h2>Create New Event</h2>
<hr />

@using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                <span class="label label-info" onclick="toggleShow(document.getElementById('coor-help'))" style="margin-right: 10px">?</span>
                Location
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Location, new { @class = "form-control", id = "geocomplete", required = "required" })
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <div class="details help-box well well-sm" id="coor-help" style="display: none">
                    <p>To benefit from our location-based services, select an autocomplete entry after beginning to type the address.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="map_canvas"></div>
            </div>
        </div>

        <hr />

        @Html.HiddenFor(m => m.ScheduleNow, new { id = "schedulenowfield", value = "True" })

        <ul class="nav nav-tabs" id="schtabs">
            <li id="schnowtab" class="@(Model.ScheduleNow ? "active" : "")">
                <a href="#schnow" data-toggle="tab">Schedule Now</a>
            </li>
            <li id="schlatertab" class="@(!Model.ScheduleNow ? "active" : "")">
                <a href="#schlater" data-toggle="tab">Find a Time</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade @(Model.ScheduleNow ? "in active" : "")" id="schnow">
                <div class="form-group">
                    @Html.LabelFor(model => model.StartDateTime, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.StartDateTime, "{0:yyyy-MM-ddTHH:mm}", new { @class = "form-control", type = "datetime-local", min = DateTime.Now.ToString("yyyy-MM-ddTHH:mm"), max = DateTime.Now.AddYears(5).ToString("yyyy-MM-ddTHH:mm"), required = "required" })
                        @Html.ValidationMessageFor(model => model.StartDateTime)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Duration</label>
                    <label class="control-label col-md-1">Hours:</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.DurationHours, new { @class = "form-control", type = "number", min = "0", max = "24", step = "1", required = "required", style = "display:inline" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1 col-md-offset-2">Minutes:</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.DurationMinutes, new { @class = "form-control", type = "number", min = "0", max = "59", step = "5", required = "required", style = "display:inline" })
                    </div>
                </div>
            </div>
            <div class="tab-pane fade @(!Model.ScheduleNow ? "in active" : "")" id="schlater">You and your event guests can collaboratively find a time that works for everyone using the Find a Time page for this event once it's created.</div>
        </div>

        <div id="latlong">
            @Html.HiddenFor(model => model.Latitude, new { data_geo = "lat" })
            @Html.HiddenFor(model => model.Longitude, new { data_geo = "lng" })
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <button type="submit" class="btn btn-success width-100" id="create">Create</button>
            </div>
            <div class=" col-md-2">
                <a href="@Url.Action("Index", "EventFeed")" class="btn btn-info width-100">Cancel</a>
            </div>
        </div>
    </div>
}

<script>
    function toggleShow(element) {
        if ($(element).is(":hidden")) {
            $(element).slideDown();
        }
        else {
            $(element).slideUp();
        }
    }

    $(function () {
        var options = {
            map: ".map_canvas",
            details: "#latlong",
            detailsAttribute: "data-geo",
            location: 'USA',
            markerOptions: {
                draggable: false,
            },
            types: ['geocode', 'establishment'],
        };

        $("#geocomplete").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              console.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function (event, status) {
              console.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              console.log("Multiple: " + results.length + " results found");
          });


        $('#myTab a:last').tab('show');

        $('#schnowtab').click(function () {
            $('#schedulenowfield').val(true);
        });

        $('#schlatertab').click(function () {
            $('#schedulenowfield').val(false);
        });
    });
</script>
