@model Angora.Web.Models.EventFeedViewModel

@{
    ViewBag.Title = "Event Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row event-feed-header">
    <div class="col-md-9">
        <h1>Your Events</h1>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg width-100" href="@Url.Action("Create", "Event")"><span class="glyphicon gl glyphicon-plus"></span>  Create New Event</a>
    </div>
</div>

@if (Model.Events.Count() == 0)
{
    <p>There's nothing to see here... you should make some events!</p>
}

@foreach (var e in Model.Events)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="btn-group event-feed-title-btns pull-right">
                <a href="@Url.Action("Edit", "Event", new { id = e.Id })" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Edit details">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="@Url.Action("DeleteEvent", "Event", new { id = e.Id })" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Delete event">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>

            <h2 class="panel-title text-overflow-ellipses">@e.Name</h2>
        </div>
        <div class="panel-body">
            Hosted by @e.Creator.FirstName @e.Creator.LastName <br />
            @e.EventTime.StartTime.ToString("dddd, MMMM d, yyyy 'at' h:mm tt") <br />
            @e.Location.NameOrAddress
        </div>

        <div class="panel-footer">
            <p class="text-overflow-ellipses no-margin">@e.Description</p>
        </div>


    </div>
}

<script>
    $('.btn').tooltip({ container: 'body' });
</script>