<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angora</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }

    @Styles.Render("~/bundles/angora")

</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container well">
        @RenderBody()
    </div>
</body>
</html>
