<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Angora</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">

            @if (Request.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "EventFeed")">Events</a></li>
                    <li><a href="@Url.Action("Index", "Account")">Account</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class=" dropdown-toggle" data-toggle="dropdown">@User.Identity.Name<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Account")">Manage Account</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Account")">Logout</a>
                    </li>
                </ul>
            }
            else
            {
                using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Url.Action("Index", "Home") }))
                {
                    <div class="nav navbar-nav navbar-right" id="nav-login-section">
                        <a class="navbar-brand">Log in using</a>
                        <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Facebook" })" class="navbar-img"><img src="/images/logos/fb-white-50.png" /></a>
                        <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Twitter" })" class="navbar-img"><img src="/images/logos/twitter-white.png" /></a>
                    </div>
                }
            }
        </div>
    </div>
</nav>
